  .plan {
    /* 애니메이션 이름 */
    animation-name: planJump;
    animation-duration: 0.1s;
  }
  /* 키프레임 이름 = 애니메이션 이름 */
  @keyframes planJump {
    0% {
      opacity: 0.4;
      transform: scale3d(0.6, 0.6, 1);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .unplan {
    /* 애니메이션 이름 */
    animation-name: planDeJump;
    animation-duration: 0.1s;
  }
  @keyframes planDeJump {
    0% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0.4;
      transform: scale3d(0.3, 0.3, 1);
    }
  }